*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    margin: 30px auto;
    background-color: rgba(128, 128, 128, 0.226);
    max-width: 400px;

}
h1{
    font-size: 25px;
    text-align: center;
    padding-top: 2rem;
}
main{
    background-color: white;
    box-shadow: 1px 2px rgba(63, 62, 62, 0.493);
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
}
.item-formulario{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    border-radius: 3rem;
    color: rgba(0, 0, 0, 0.459);
    padding: 0.5rem;
}
button{
    cursor: pointer;
    background-color: rgb(3, 231, 22);
    /* width: 280px; */
}